* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*TYPO
******/ 

body {
    font-family: 'Fredoka', sans-serif;
    
}

h1 {
    color: #e53170;
    padding-bottom: 60px;
    font-size: 50px;
    padding-top: 20px;
}

p {
    font-size: 20px;
}

header {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    text-align: center;
}

main {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    padding: 20px;
}

.card {
    height: 100px;
    width: calc(100% / 3 - 40px);
    margin: 20px;
    background-color: #0f0e17;
    float: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card h2 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.card div {
    padding: 15px;
}

.card p, a {
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
}

a {
    color: #63cbf2;
    font-family: 'Fredoka', sans-serif;
}

img {
	display:block;
    float: left;
    height: 100%;
    margin-right: 10px;
}






