* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*TYPO
******/ 

body {
    font-family: 'Fredoka', sans-serif;
    
}

h1 {
    color: #e53170;
    padding-bottom: 70px;
    font-size: 50px;
}

header {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightcoral;
    padding-bottom: 50px;
    text-align: center;
}

main {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    background-color: aqua;
    padding: 20px;
}

main div {
    height: 100px;
    width: calc(100% /3 );
    margin: 30px;
    background-color: #0f0e17;
    border: #e53170 solid 1px;
    float: left;
}





